<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .box{
            width:300x;
            display:flex;

        }
        .box > div{  flex:1; }
    </style>
</head>
<body>



<h1>  조 출력 </h1>

<div th:each="entry : ${map}">
    <p>  <span th:text="${entry.key}"></span></p>
    <ul>
        <li th:each="member : ${entry.value}">
            <span th:text="${member.name}"></span> <!-- Member 객체의 name 속성 출력 -->
        </li>
    </ul>
</div>



</body>
</html>